body {
    overflow-x: hidden;
    font-family: "Open Sana", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Krub", sans-serif;
}

.hero {
    height: 700px;
    margin: 10px 0;
    text-align: center;
    font-weight: bold;
}

#cta-btn, #btn-service {
    padding: 5px 25px;
    margin-bottom: 25px;
    color: white;
}

#cta-btn:hover {
    box-shadow: 0 4px 16px 1px darkblue;
}

.services {
    padding: 75px 0 50px 0;
    color: white;
    background-color: rgb(30, 30, 130);
}

#btn-service {
    border-radius: 25px;
    background-color: rgb(50, 50, 130);;
}
