body {
    overflow-x: hidden;
}

.hero {
    height: 700px;
    margin: 10px 0;
    text-align: center;
    font-weight: bold;
}

#cta-btn {
    padding: 5px 25px;
    margin-bottom: 25px;
}

#cta-btn:hover {
    box-shadow: 0 4px 16px 1px darkblue;
}